{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'viet_spell/main.css' %}">
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>VietSpell</title>
      {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'viet_spell_home' %}">VietSpell</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'viet_spell_home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'viet_spell_list' %}">History</a>
              <a class="nav-item nav-link" href="{% url 'viet_spell_about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Pham Van Minh</a>
              <a class="nav-item nav-link" href="#"></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h4>Features</h4>
            <p class='text-muted'>Supporting Spell Correction
              {%  if messages %}
              {% for  messege in messages %}
                <div class="alert alert-{{messege.tags}}">
              {{ messege }}
          </div>
              {% endfor %}
                {% endif %}
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Check Non-word errors</li>
                <li class="list-group-item list-group-item-light">Add tone</li>
                <li class="list-group-item list-group-item-light">Check consonant mistake</li>
                <li class="list-group-item list-group-item-light">Check vowel mistake</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <br>
    <br>
    <br>
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
{#    <ul class="list-unstyled list-inline text-center py-2">#}
{#      <li class="list-inline-item">#}
{#        <h5 class="mb-1">Register for free</h5>#}
{#      </li>#}
{#      <li class="list-inline-item">#}
{#        <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>#}
{#      </li>#}
{#    </ul>#}
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019
    <a href="https://mdbootstrap.com/education/bootstrap/"> phamvanminh272@gmail.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>