{% extends "viet_spell/base.html" %}
{% block content %}
    <h3>Welcome to VietSpell</h3>
{#    <img class="rounded-circle article-img" src="https://qph.fs.quoracdn.net/main-qimg-28cadbd02699c25a88e5c78d73c7babc">#}
    {% for text in texts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ text.date_posted }}</small>
            </div>
            <p class="article-content">Text: {{ text.text }}</p>
              <p class="article-content">Corrected text: {{ text.corrected_text }}</p>
              <ul class="list-group">
                  <li class="list-group-item">{{ text.non_word_errors }}</li>
                </ul>
          </div>
        </article>
    {% endfor %}
{% endblock %}