{% extends "viet_spell/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please enter your text here</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Check</button>
            </div>
        </form>
    </div>
    {% if vtext %}
        <p>Minh ne: {{ vtext }}</p>
    {% endif %}
{% endblock content %}